
<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SurfPerch</title>
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link rel="stylesheet" href="css/custom.css">
	</head>

	<body style="background-image: url(images/hero_bg.jpg);">

			<div class="container">
				<div class="login-box">
					<h1>SurfPerch</h1>
					<a href="#" class="social-button" id="twitter-connect"> <span style="font-size: 0.9em">Log In With Twitter</span></a>
				</div>
			</div>

		<script src="script.js"></script>
	</body>
</html>
