
<!DOCTYPE html>
<html class="no-js">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SurfPerch</title>
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link rel="stylesheet" href="css/custom.css">
	</head>

	<body style="background-image: url(images/hero_bg.jpg);">

			<div class="container">
				<div class="search-box">
					<h1>SurfPerch</h1>
					<form>
						<input id="search" type="text" placeholder="Enter a keyword">
						<button id="submit" type="submit" value="Submit">Sumbit</button>
					</form>
				</div>
			</div>

		<script src="script.js"></script>
	</body>
</html>
